<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugGuide comments - {# NAME #}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% for rec in records %}
    {# RECORD component #}
    <article>
        <div class="record-details">
            <a href="{{ rec.url }}">
                <img src="{{ rec.img }}" alt="">
            </a>
            <div class="desc">
                <h3>{{ rec.title }}</h3>
                <div class="metadata">
                    {{ rec.metadata }}
                </div>
                <div class="remarks">
                    {{ rec.remarks }}
                </div>
                <div class="byline">
                    —<br/>{{ rec.byline }}
                </div>
            </div>
        </div>
        <a href="{{ rec.url }}">{{ rec.url }}</a>
        {% for c in rec.comments %}
        {# COMMENT component #}
        <div class="comment{{ " mark" if c.style.highlight }}" style="margin-left: {{ c.style.indent }}rem">
            <div class="comment-subject" style="{{ "display: none" if c.style.subj_repeats }}">
                {{ c.data.subj }}
            </div>
            <div class="comment-body">
                {{ c.data.body }}
            </div>
            <div class="comment-byline">
                {{ c.data.byline }}
            </div>
        </div>
        {% endfor %}
    </article>
    {% endfor %}
</body>
</html>