<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugGuide comments - {{ header[1] }}</title>
    <link rel="stylesheet" href="../templates/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ header[0] }}</h1>
            <div>
                <a class="btn-link" href="{{ start_url }}">search start index</a>
            </div>
        </div>
        {% for sec in sections %}
        {# SECTION component for each child taxon #}
        {% if sec.rank != parent_rank or sec.rank == "section" %}
        <div class="section-header">
            <h2>{{ sec.title }}</h2>
            <p>
                | <a class="btn-link" href="{{ sec.own_page }}">guide photos for just this {{ sec.rank }}</a>
                | <a class="btn-link" href="{{ sec.parent_page }}">page encountered within parent</a> | <span class="caveat">(at time of search)</span>
            </p>
        </div>
        {% endif %}
        {% if not sec.records %}
        <div class="nonefound">No comments found</div>
        {% endif %}
        {% for rec in sec.records %}
        {# RECORD component #}
        <article>
            <div class="record-details">
                <a href="{{ rec.url }}">
                    <img src="{{ rec.img }}" alt="">
                </a>
                <div class="desc">
                    <h3>{{ rec.title }}</h3>
                    <div class="metadata">
                        {{ rec.metadata }}
                    </div>
                    <div class="remarks">
                        {{ rec.remarks }}
                    </div>
                    <div class="byline">
                        —<br/>{{ rec.byline }}
                    </div>
                </div>
            </div>
            <a href="{{ rec.url }}">{{ rec.url }}</a>
            {% for com in rec.comments %}
            {# COMMENT component #}
            <div class="comment{{ " mark" if com.highlight }}" style="margin-left: {{ com.depth * 2 }}rem">
                <div class="comment-subject">
                    {{ com.subj }}
                </div>
                <div class="comment-body">
                    {{ com.body }}
                </div>
                <div class="comment-byline">
                    {{ com.byline }}
                </div>
            </div>
            {% endfor %} {# comment #}
        </article>
        {% endfor %} {# record #}
        {% endfor %} {# section #}
    </div>
</body>
</html>