:root {
    --bg-body: #f2edd5;
    --bg-header: #e6dbae;
    --bg-nav: #c6be9e; /* not currently using */
    --bg-btn: #44402e;
    --muted: #555;
}
body {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: var(--bg-body);
    margin: 0
}
.container {
    padding: 0 10rem;
}

/* PAGE HEADER */
.header {
    margin: 0 -10rem 1rem -10rem;
    padding: .5rem 10rem;
    background-color: var(--bg-header);
}
.header div {
    padding-bottom: 1rem;
}

/* SECTION HEADERS */
h2 {
    margin: .5rem 0;
    font-size: 1.2rem;
}
.caveat {
    padding: .3em .5em;
    color: var(--muted);
}
.nonefound {
    font-style: italic;
    color: var(--muted);
}

.section-header {
    margin: 1.5rem 0 1.5rem -10rem;
    padding: 0.5rem 10rem;
    background-color: var(--bg-header);
}

/* RECORDS */
article {
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: white;
    box-shadow: 0 0 6px 3px rgba(0,0,0,.2);
    border-radius: 4px;
}
.record-details {
    display: flex;
    margin-bottom: 1rem;
}
img {
    width: 75px;
    height: 75px;
    padding-right: 1rem;
}
h3 {
    font-size: 1rem;
}
h3, .comment-subject, strong {
    font-weight: bold;
    color: var(--muted);
}
.desc {
    background-color: #f2edd550;
    border-left: 3px solid var(--muted);
    padding: .5rem;
    width: 100%;
}
.desc > * {
    margin: .5rem;
}
.byline {
    color: var(--muted);
}

/* COMMENTS */
.comment {
    border: 1px solid lightgray;
    padding: 0.75rem;
    margin: 0.5rem 0;
    color: var(--muted);
}
.mark {
    background-color: var(--bg-body);
    color: black;
}
.comment-byline {
    margin-top: .5rem;
    color: var(--muted);
}

/* LINKS */
a {
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
/* figure out a subtler click affordance later, but the link color is too loud right now */
.byline a, .comment-byline a {
    color: unset;
}
.header .btn-link {
    margin-bottom: 1rem;
}
a.btn-link {
    padding: .3em .5em;
    font-weight: bold;
    color: var(--bg-btn);
}
a.btn-link:hover, a.btn-link:focus, a.btn-link:active {
    text-decoration: none;
    background-color: var(--bg-btn);
    color: white;
}




